rules_version = '2';

service cloud.firestore {

match /databases/{database}/documents {


match /cards/{id} {

allow read,write:
if request.auth != null;

}


match /services/{id} {

allow read,write:
if request.auth != null;

}


match /contracts/{id} {

allow read,write:
if request.auth != null;

}


match /usage_logs/{id} {

allow create:
if request.auth != null;

allow read:
if request.auth != null;

}


match /staffs/{id} {

allow read,write:
if request.auth != null;

}


match /staff_cards/{id} {

allow read,write:
if request.auth != null;

}


match /devices/{id} {

allow read,write:
if request.auth != null;

}


match /card_scans/{id} {

allow create:
if request.auth != null;

allow read:
if request.auth != null;

}


}

}
