<?xml version="1.0" encoding="utf-8"?>

<manifest>


<uses-permission
android:name="android.permission.NFC"/>


<uses-feature
android:name="android.hardware.nfc"
android:required="true"/>



<application>


<activity

android:name=".MainActivity"

android:exported="true">


<intent-filter>


<action
android:name="android.nfc.action.TECH_DISCOVERED"/>


</intent-filter>


</activity>



</application>


</manifest>
