body{

font-family:sans-serif;

background:#eee;

}


.terminal{

width:500px;

margin:80px auto;

background:white;

padding:40px;

text-align:center;

border-radius:20px;

}


button{

width:80%;

padding:15px;

margin:10px;

font-size:20px;

}
