body{

font-family:sans-serif;
background:#eee;

}


.terminal{

width:500px;
margin:80px auto;
background:white;
padding:40px;
text-align:center;

}


button{

display:block;
width:80%;
margin:15px auto;
padding:15px;

font-size:20px;

}
